# A single .jar file can contain multiple plugins, specified in separate lines.
#
# The format is: <menu>, "<menu label>", <class name>
#
# If something like ("<arg>") is appended to the class name, the setup() method
# will get that as arg parameter; otherwise arg is simply the empty string.

Plugins>SACDj, "SACD (full, Born-Wolf PSF)", com.HIT.weisongzhao.SACD_BornWolf
Plugins>SACDj, "SACD (full, PSF coming from users)", com.HIT.weisongzhao.SACD_Analyze
Plugins>SACDj, "SACD (simplified, Born-Wolf PSF)", com.HIT.weisongzhao.SACD_Analyze_psfinter
Plugins>SACDj,"-"
Plugins>SACDj>Utils, "Pure SOFI", com.HIT.weisongzhao.SOFI_
Plugins>SACDj>Utils, "Fourier interpolation", com.HIT.weisongzhao.Fourier_Interpolation_plugin
Plugins>SACDj>Utils, "PSF-Born&Wolf", com.HIT.weisongzhao.PSF_
Plugins>SACDj>Utils, "Richardson-Lucy deconvolution", com.HIT.weisongzhao.SACD_RL
Plugins>SACDj, "About ...", com.HIT.weisongzhao.About_